[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.9.19"
molecule = "==3.0.8"
docker = "==4.4.4"
ansible-lint = "==5.0.6"

[dev-packages]

[requires]
python_version = "3.6"
